<%
var movies = json.BusRiderSketches_movies.filter(function(row) { return !row.filter });
var strings = {};
Object.keys(json.BusRiderSketches_strings).forEach(function(k) { strings[k] = json.BusRiderSketches_strings[k].text });
%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <main class="sketch-page">

      <h1><%= strings.title %></h1>

      <p class="chatter"><%= strings.chatter %></p>

      <section class="sketches">

        <% movies.forEach(function(row) { %>
        <div class="sketch">
          <div class="icon">
            <img src="./assets/ic_headset_black_48px.svg"> Watch
          </div>
          <div class="video-container">
            <video class="video-sketch" poster="./assets/posters/<%= row.poster %>">
              <source type="video/mp4" src="./assets/movies/<%= row.file %>"></source>
            </video>
            <img class="poster" src="./assets/posters/<%= row.poster %>" alt="<%= row.name %>">
            <canvas class="spinner" width=16 height=16></canvas>
          </div>
          <div class="caption">
            <h2><%= row.name %></h2>
            <p class="interviewed"><%= row.route %></p>
            <p class="description"><%= row.description %></p>
          </div>
        </div>
        <% }) %>

      </section>

    </main>


    <div class="recirc">
      <%= t.include("partials/_dontMiss.html", { data: [
        { url: "http://www.seattletimes.com/seattle-news/data/seattle-sees-biggest-jump-in-bus-riders-of-any-us-city/", head: "Seattle sees biggest jump in bus riders of any U.S. city", image: "teasers/fyi-guy.jpg" },
        { url: "http://www.seattletimes.com/seattle-news/transportation/king-county-metro-bus-driver-logs-many-miles-and-smiles/", head: "King County Metro bus driver logs many miles — and smiles", image: "teasers/driver.jpg" },
        { url: "http://www.seattletimes.com/seattle-news/transportation/no-seat-hogging-and-11-other-bus-etiquette-tips-from-our-readers/", head: "No seat hogging! — and 11 other bus-etiquette tips from our readers", image: "teasers/tips.jpg" },
        { url: "http://www.seattletimes.com/entertainment/how-many-songs-can-you-fit-on-a-bus-a-kexp-dj-curated-playlist-for-your-metro-trips/", head: "How many songs can you fit on a bus?", image: "teasers/band.jpg" }
      ]}) %>

      <%= t.include("partials/_ad.html", { type: "banner" }) %>
      
    </div>


    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
